@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --app-height: 100vh;
}

* {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html, body, #root {
    min-height: var(--app-height, 100vh);
    height: var(--app-height, 100vh);
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--bg-color);
}
